// Fonts

// Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './navbar.scss';


body{
    background: #434343;
    width: 100%;
    height: 100%;
}

.page-container{
    padding: 70px 40px;
}

.page-title{
    color: #e9e9e9;
}